body {
  margin: 0;
}

#title {
  background-color: cornsilk;
  background-image: url("https://media.istockphoto.com/id/1148345171/vector/blue-dots-vector-background.jpg?s=612x612&w=0&k=20&c=I4xIlnj00URYw7y8M4cqt0nxjg2gYMG394TBUYq4zZU=");
  background-position: center;
  background-size: cover;
}

.intro-list {
  list-style-type: none;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  width: 100%;
}

.image-div {
  display: flex;
  align-items: center;
  justify-content: right;
}
.image {
  border-radius: 20%;
}
h1 {
  font-size: xx-large;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
}

.intro-div {
  display: flex;
  text-align: left;
  align-items: center;
}
.Welcome {
  text-align: center;
  margin: 0px 0px 0px 0px;
}

li {
  font-size: 25pt;
  font-family: serif;
}

.resume-intro {
  width: 25%;
  padding-top: 50px;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.resume-intro-div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding-top: 200px;
}

#resume {
  background-color: #e4f9f5;
  height: 570px;
}

#projects {
  height: 800px;
  background-color: #e4f9f5;
}

.projects-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 50px;
  padding-top: 25px;
  height: 500px;
}

/* .project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.project {
  display: grid;
  grid-template-columns: 9fr 11fr;
}

.project-image {
  border-radius: 10%;
}

.projects-p-div {
  display: flex;
  justify-content: center;
}

.projects-p {
  font-size: 24pt;
  color: #4f76b0;
}

.project-image-div {
  display: flex;
  justify-content: right;
}

.projects-paragraph {
  padding-left: 30px;
  width: 40%;
  color: #4f76b0;
  
}

.projects-paragraph-inner {
  font-size: 10pt;
  padding-left: 30px;
  width: 40%;
}

#about-me {
  height: 500px;
  background-color: #e4f9f5;
}

.about-paragraph-div {
  display: flex;
  justify-content: center;
}

.about-paragraph {
  font-size: 24pt;
  color: #4f76b0;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
}

.about-image {
  border-radius: 50%;
}

.inside-about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside-about-paragraph-div{
  text-align: center;
  width: 55%;
}

.inside-about-paragraph{
  font-size: 10pt;
}

#contact-me {
  height: 250px;
  background-color: #e4f9f5;
}

.contact-me-div{
  text-align: center;
}

.contact-me-p1{
  font-size: 24pt;
  /* color:rgb(37, 49, 210); */
  color: #4f76b0;
  margin-top: 0;
}

.contact-me-p2{
  margin-bottom: 40px;
  color: #5a7aab;
  font-weight: bolder;
}

footer{
  background-color: lightblue;
  height: 200px;
}

.footer-cantainer{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.footer-text{
  font-size: 9pt;
  color: #4f76b0;
}

.github{
  padding-left: 75px;
  padding-right: 75px;
}

.last-div{
  text-align: center;
}

.last-text{
  font-size: 9pt;
  color: white;
  margin-top: 30px;

}

.anchor{
  color: #4f76b0;
  text-decoration: none;
}

#resume-pic{
  background-color: red;
  height: 200px;
  width: 100px;
}

/*Matanda's code*/

#contact-button{
  background: none;
  border: 2px solid #4f76b0;
  border-radius: 5px;
  font-size: 15pt;
  color: #4f76b0;
}

#contact-button:hover{
  background: none;
  background-color: #B8D8D8;
  border: 2px solid #4f76b0;
  border-radius: 5px;
  font-size: 15pt;
  color:white;
}

#contact-pg-body{
  background-color: #e4f9f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}



#contact-info{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  justify-items: center;
}

#details{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 50px;
  justify-items: end;
}

.contact-meth{
  display: grid;
  grid-template-columns: 5ch 20px 1fr;
  justify-items:end;
}

#phonevg{
  height: 15px;
}

.vgs{
  padding-top: 2px;
}

#details{
  padding-right: 30px;
}